.portfolio-modal .modal-content ol{
	text-align:center;
	margin-left:20%;
	margin-right:20%;
}
.portfolio-modal .modal-content li{
	text-align:left;
}
#drive-image{
	background-color:#19BDAD;
}

#headerCrearDrive{
	background-image: url('../img/headerDrive-bg.jpg');
}
.clear_p{
	clear: both;
}
ul.archivos{font-size:24px;}

li.presentacion{list-style-image:url('../img/icons/presentations-icon.png');}
.presentacion a{vertical-align:50%;}

li.documento{list-style-image:url('../img/icons/docs-icon.png');}
.documento a{vertical-align:50%;}

li.spreadsheet{list-style-image: url('../img/icons/spreadsheets-icon.png');}
.spreadsheet a{vertical-align:50%;}

li.folder{list-style-image: url('../img/icons/folder-icon.png');}
.folder a{vertical-align: 50%;}

#variables h2{
	font-size:24px;
}
#variables ul{
	width:75%;
	margin-left:12%;
	text-align:left;
}
